<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
</head>
<body>
  <%- include('header.ejs', { isLoggedIn: isLoggedIn, darkMode: darkMode }) %>
  <h1>Your Uploads</h1>
  <ul>
    <% if (uploads && uploads.length > 0) { %>
    <% uploads.forEach(upload => { %>
      <li>
        <%= upload.filename %>
        <form action="/delete-upload/<%= upload.id %>" method="POST" onsubmit="return confirm('Are you sure you want to delete this upload?');">
          <button type="submit">Delete</button>
        </form>
        <a href="/edit-upload/<%= upload.id %>">Edit</a>
      </li>
    <% }) %>
    <% } else { %>
      <li>No uploads found.</li>
    <% } %>
  </ul>
  <a href="/settings">Settings</a>
  <%- include('footer.ejs') %>
</body>
</html>