<!DOCTYPE html>
<html lang="en"> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <script>
        function toggleDarkMode() {
            var currentMode = document.documentElement.getAttribute('data-theme');
            var newMode = currentMode === 'dark' ? 'light' : 'dark';
            document.documentElement.setAttribute('data-theme', newMode);
            document.getElementById('theme-stylesheet').href = newMode === 'dark' ? '/static/dark-styles.css' : '/static/styles.css';
        }

        function downloadCurrentFile() {
            var fileUrl = '<%= fileUrl %>';
            var filename = '<%= filename %>';
            if (fileUrl && filename) {
                window.location.href = fileUrl;
            } else {
                alert('No file information available.');
            }
        }
    </script>
    <% var isDarkMode = typeof isDarkMode !== 'undefined' ? isDarkMode : false; %>
    <link id="theme-stylesheet" rel="stylesheet" href="<%= isDarkMode ? '/static/dark-styles.css' : '/static/styles.css' %>">
</head>
<body>
    <%- include('header.ejs', { isLoggedIn: isLoggedIn }) %>
    <div class="container">
        <div class="paper-page dark_paper-page">
            <% if (content) { %>
                <div><%- content %></div>
            <% } else { %>
                <p>No file information available.</p>
            <% } %>
        </div>
    <%- include('footer.ejs') %>
</body>
</html>